@import "../../global.scss";

.Intro {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: white;

    .imgContainer {
      margin-top: 15%;
      margin-left: 15%;
      width: 70%;
      height: 70%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .right {
    flex: 0.5;
    position: relative;
    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding: 0;
        align-items: center;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile {
          font-size: 30px;
        }
      }
      h2 {
        font-size: 25px;
      }
      h3 {
        font-size: 30px;
        @include mobile {
          font-size: 20px;
        }

        span {
          font-size: inherit;
          color: #315380;
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
    }
    img {
      width: 50px;
      animation: arrowBlink 2s infinite;
      @include mobile {
        padding-left: 150px;
      }
    }
    @keyframes arrowBlink {
      0% {
        opacity: 0;
      }
    }
  }
}
.bubbles {
  width: 100%;
  height: 1900px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -110%;

  img{
   
     width: 50px;
     animation: bubble 7s linear infinite;
     background: transparent;
     z-index: 3;
   
 }
 
}
@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 1;
  }
}

.bubbles img:nth-child(1){
  animation-delay: 2s;
}
.bubbles img:nth-child(2){
  animation-delay: 1s;
}
.bubbles img:nth-child(3){
  animation-delay: 3s;
}
.bubbles img:nth-child(4){
  animation-delay: 4s;
}
.bubbles img:nth-child(5){
  animation-delay: 2s;
}
.bubbles img:nth-child(6){
  animation-delay: 6s;
}
.bubbles img:nth-child(7){
  animation-delay: 7s;
}