.app{
    height:100vh;

    .sections{
        width: 100%;
        height:calc(100vh - 70px);
        background-color: lime;
        top:70px;
        position: relative;
         scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        
        &::-webkit-scrollbar{
            display: none;
        }

        > *{
            width: 100vw;
            height: calc(100vh - 70px);
              scroll-snap-align:start ;  
        }
        }
}